{% if quote %}
  <blockquote>
    <div class="row">
    {% if quote.image %}
      <div class="col-sm-4"> 
        <img src="{{ quote.imageDirectoryUrl }}/x150/{{ quote.image }}" alt="{{ quote.name }}" class="img-responsive">
      </div>
      <div class="col-sm-8">
        {{ quote.quote|raw }}
        -- {{ quote.name }}
      </div>
    {% endif %}
        
    {% if not quote.image %}
      <div class="col-sm-12">
        {{ quote.quote|raw }}
        -- {{ quote.name }}
      </div>
    {% endif %}
    </div>
  </blockquote>
{% endif %}

